/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*icons*/


:root{
    --header-height: 3rem;

    /*-------------- Cores --------------*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 0;
    --sat: 100%;
    --title-color: ;
    --title-color-dark: ;
    --text-color: hsl(229, 91%, 8%);
    --body-color: hsl(125, 52%, 33%);
    --container-color: hsl(122, 50%, 90%);
    --text-input-color: hsl(0,0%, 100%);
  
    /*========== Font and typography ==========*/
    --body-font:  "Roboto", sans-serif;
  
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600; 
  
    /*========== Margenes Bottom ==========*/
    
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

.container{
    background-color: var(--container-color);
    width: 100vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
    margin-top: 10vmin;
}

button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    background-color: var(--container-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.types_text{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
#filename,
select {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
}

.input-wrapper{
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.input-wrapper label,
.options label,
.options select{
    font-family: var(--body-font);
}

input[type="color"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 25px;
    border:none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 14px;
    box-shadow: 0 0 0 2px var(--container-color), 0 0 0 3px var(--text-color);
    border-color: var(--text-input-color);
}

#text-input {
    margin-top: 10px;
    border: 1px solid hsl(0, 0%, 57%);
    padding: 20px;
    height: 50vh;
    background-color: var(--text-input-color);
}

.active{
    background-color: var(--text-input-color);
    border: solid 1px hsl(0, 0%, 57%); 
}
